<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YAKD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <YAKD.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="BackgroundColorOpacity" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="Created" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>#FFEEEEEE</value>
            </setting>
            <setting name="DemoKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CanResize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupPoint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTSSEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTSSPath" serializeAs="String">
                <value>C:\Program Files (x86)\RivaTuner Statistics Server\RTSS.exe</value>
            </setting>
            <setting name="MouseEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeysAlignment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="FirstLaunchStatistic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixWindow" serializeAs="String">
                <value>False</value>
            </setting>
        </YAKD.Properties.Settings>
    </userSettings>
</configuration>
